<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBA</title>
</head>
<body>

<!--<h1>NBA 농구 데이터 다운로드</h1>-->
<br>
<!--    <h3>#1 농구 데이터 다운로드</h3>-->
<!--    <form action="#" th:action="@{/mina}" method="post">-->
<!--        <label for="year">NBA 년도:</label>-->
<!--        <input type="text" id="year" name="year" placeholder="1951-52"/>-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->

<!--    <br>-->
<!--    <hr>-->
<!--    <h3> Team DATA DOWNLOAD</h3>-->
<!--    <form action="#" th:action="@{/team}" method="post">-->
<!--        <label for="team">NBA GAME DATA DOWN :</label>-->
<!--        <input type="text" id="team" name="team" placeholder="2010-01-01"/>-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->

<!--    <br>-->
<!--    <hr>-->
<!--    <h3>#2 선수별 다운로드</h3>-->
<!--    <form action="#" th:action="@{/mina2}" method="post">-->
<!--        <label for="year2">NBA down 2 :</label>-->
<!--        <input type="text" id="year2" name="year2" placeholder="2013-14"/>-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->

<!--    <br>-->
<!--    <hr>-->
<!--    <h3>GAME DATA DOWNLOAD (basic) x</h3>-->
<!--    <form action="#" th:action="@{/mina3}" method="post">-->
<!--        <label for="year2">NBA down 3 :</label>-->
<!--        <input type="text" id="year3" name="year3" placeholder="2010-01-01"/>-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->

<br>
<hr>
<h3>(PLAYER) GAME DATA DOWNLOAD</h3>
<form action="#" th:action="@{/gameData}" method="post">
    <label for="year4">NBA GAME DATA DOWN :</label>
    <input type="text" id="year4" name="year4" placeholder="2010-01-01"/>
    <button type="submit">Submit</button>
</form>

<br>
<hr>
<h3>(MONTH - PLAYER) GAME DATA DOWNLOAD</h3>
<!--    <form id="monthForm" action="#" th:action="@{/gameMonthData}" method="post">-->
<form id="monthForm">
    <label for="year5">NBA GAME DATA DOWN :</label>
    <input type="text" id="year5" name="year5" placeholder="2010-01"/>
    <!--        <label for="day">DAY :</label>-->
    <input type="text" id="day" name="day" placeholder="ex) 31 (일자 입력)"/>
    <input type="text" id="startNumber" name="startNumber" placeholder="시작일자 입력"/>
    <button id="monthBtn" type="button">Submit</button>
</form>

<br>
<hr style="border: 0; height: 3px;">
<h3 style="color: deepskyblue">KBL 네이버 농구 GAME DATA DOWNLOAD</h3>
<!--    <form id="monthForm" action="#" th:action="@{/gameMonthData}" method="post">-->
<!--<form id="kblForm">-->
<form action="#" th:action="@{/kblGameDownload}" method="post">
    <label for="kblYear">NBA 네이버 농구 GAME DATA DOWN :</label>
    <input type="text" id="kblYear" name="kblYear" placeholder="2023-01"/>
<!--    <input type="text" id="day" name="day" placeholder="ex) 31 (일자 입력)"/>-->
<!--    <input type="text" id="startNumber" name="startNumber" placeholder="시작일자 입력"/>-->
    <button id="kblBtn" type="submit">Submit</button>
</form>

<br>
<h3 style="color: deepskyblue">[미완성] KBL 공식 홈페이지 GAME DATA DOWNLOAD</h3>
<!--    <form id="monthForm" action="#" th:action="@{/gameMonthData}" method="post">-->
<!--<form id="kblForm">-->
<form action="#" th:action="@{/kblMainDownload}" method="post">
    <div>KBL 공식 홈페이지 다운로드 : 미완성 </div>
<!--    <label for="kblMainYear">KBL 공식 홈페이지 다운로드 :</label>-->
<!--    <input type="text" id="kblMainYear" name="kblMainYear" placeholder="2023-01"/>-->
<!--    <button id="kblMainBtn" type="submit">Submit</button>-->
</form>

<hr style="height: 3px;">
<h1>년도별 선수 총합 다운로드 PART</h1>
<!--<hr style="border: 0; height: 3px;">-->
<h3 style="color: darkred">NBA 선수별 년도 총계 데이터 DOWNLOAD</h3>
<form action="#" th:action="@{/nbaPlayerTotalYear}" method="post">
    <label for="playerYear">NBA 공식 홈페이지 다운로드 :</label>
    <input type="text" id="playerYear" name="playerYear" placeholder="2023-24"/>
    <button type="submit">Submit</button>
</form>

<h3 style="color: darkred">KBL 선수별 년도 총계 데이터 DOWNLOAD</h3>
<form action="#" th:action="@{/kblPlayerTotalYear}" method="post">
    <label for="kblPlayerYear">KBL 공식 홈페이지 다운로드 :</label>
    <input type="text" id="kblPlayerYear" name="kblPlayerYear" placeholder="2023-2024"/>
    <button type="submit">Submit</button>
</form>
<br>

</body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#monthBtn').on('click', function (event) {

            let number = $('#year5').val();
            let day = $('#day').val();
            let startNumber = $('#startNumber').val();

            console.log('number : ', number);
            console.log('day : ', day);
            console.log('startNumber : ', startNumber);

            let currentIndex = Number(startNumber);

            function sendRequest(index) {
                $.ajax({
                    url: '/gameMonthData',
                    // url: '/test',
                    type: 'GET',
                    data: {
                        year5: number,
                        day: index
                    },
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (data, status, xhr) {
                        let excelName = number + '-' + index;
                        console.log("success ::: ")
                        console.log(data)
                        let blob = new Blob([data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'});
                        let link = document.createElement('a');
                        let url = window.URL.createObjectURL(blob);
                        link.href = url;
                        link.download = excelName;
                        document.body.appendChild(link);
                        link.click();
                        setTimeout(function () {
                            document.body.removeChild(link);
                            window.URL.revokeObjectURL(url);
                        }, 0);
                        // 성공 시 다음 일(day) 값에 대한 요청 보내기
                        if (index < day) {
                            sendRequest(index + 1);
                        }
                    },
                    error: function (res) {
                        console.error('Request ' + currentIndex + ' failed:');
                    }
                });
            }

            sendRequest(currentIndex);
        })
    })
</script>
</html>